/* css reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --font: "Mulish", sans-serif;
  /* colors */
  --accent-color: #b52184;
  --text-color: #312d64;
  --bg-color: #f9f4fb;
  --white: #ffffff;
  --gradient-bg: linear-gradient(to right, #343193, #302c63);
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  font-weight: 600;
  background-color: var(--bg-color);
  color: var(--text-color);
}

img {
  width: 100%;
}

h1,
h2,
legend {
  color: var(--accent-color);
  font-weight: 900;
}

/* hero section */
#hero {
  padding: 0 3.4rem 9.3rem 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h1 {
  font-size: 3.2rem;
  padding-top: 1.7rem;
}

#hero p {
  font-size: 2rem;
  padding-block: 0.5rem 3.5rem;
}

#hero .arrow-btn {
  width: 5.9rem;
  height: 10.5rem;
}

/* cards section */
#cards-section {
  background-image: var(--gradient-bg);
  padding: 5.3rem 3.9rem;
  display: grid;
  gap: 5rem;
}

#cards-section .card {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 2.7rem;
}

#cards-section .card h2 {
  font-size: 3rem;
  padding-block: 3.3rem 2rem;
}

#cards-section .card img {
  width: 8rem;
}
